name: Build Release

on:
    workflow_dispatch:
    push:
        branches:
            - main

env:
    packageName: "com.sodanen.sodanenlighteditor"

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Get Version
              id: version
              uses: zoexx/github-action-json-file-properties@1.0.6
              with:
                  file_path: "package.json"
                  prop_path: "version"

            - name: Set Environment Variables
              run: |
                  echo "zipFile=${{ env.packageName }}-${{ steps.version.outputs.value }}.zip" >> $GITHUB_ENV
                  echo "version=${{ steps.version.outputs.value }}" >> $GITHUB_ENV

            - name: Create Package Zip
              run: |
                  zip -r "${{ env.zipFile }}" . -x ".git/*" -x ".github/*" -x "Website/*" -x "*.zip"

            - name: Create Tag
              id: tag_version
              uses: rickstaa/action-create-tag@v1
              with:
                  tag: "${{ env.version }}"
                  force_push_tag: true

            - name: Make Release
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      ${{ env.zipFile }}
                      package.json
                  tag_name: ${{ env.version }}
                  generate_release_notes: true
